.imagenes{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.llantas{
    width: 15%;
    height: 15%;
    padding-bottom: 50px;
    padding-left: 20px;
}

.formulario{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Refresh{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: arial;
    outline: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 500px;
    width: 1500px;
}

